[Unit]
Description=Kibana log analyzer
After=network.target

[Service]
ExecStart=/opt/kibana-4.1.1-linux-x64/bin/kibana
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s
SyslogIdentifier=kibana
SyslogLevelPrefix=false
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/opt/kibana-4.1.1-linux-x64

[Install]
WantedBy=multi-user.target
